.c_consult-list-frame {
  min-width: 1920px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #e9e9e9;
}

.c_consult-list-frame,
.c_consult-list-frame001,
.c_consult-list-frame002 {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
}

.c_consult-list-frame001 {
  padding: 0 40px;
  max-width: 1920px;
  justify-content: center;
  background-color: #e9a2b0;
}

.c_consult-list-frame002 {
  gap: 10px;
  padding: 10px;
  max-width: 613px;
  justify-content: flex-start;
}

.c_consult-list-rectangle {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 247px;
}

.c_consult-list-frame003 {
  gap: 76px;
  width: 100%;
  display: flex;
  padding: 10px 25px;
  overflow: hidden;
  position: relative;
  max-width: 613px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}

.c_consult-list-instance {
  width: 100%;
  max-width: 83px;
  box-sizing: border-box;
}

.c_consult-list-text,
.c_consult-list-text001 {
  margin-top: 0;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text {
  width: 100%;
  max-width: auto;
  min-height: auto;
}

.c_consult-list-text001 {
  color: #fff;
  font-size: 28px;
  font-style: normal;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0;
  text-transform: uppercase;
}

.c_consult-list-instance01 {
  gap: 10px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 144px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.c_consult-list-text002 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text003 {
  color: #fff;
  font-size: 28px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: uppercase;
}

.c_consult-list-instance02 {
  width: 100%;
  max-width: 115px;
  box-sizing: border-box;
}

.c_consult-list-text004 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text005 {
  color: #fff;
  font-size: 28px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: uppercase;
}

.c_consult-list-instance03 {
  gap: 10px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 81px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.c_consult-list-text006 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text007 {
  color: #b35667;
  font-size: 28px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: uppercase;
}

.c_consult-list-frame004 {
  gap: 40px;
  width: 100%;
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: relative;
  max-width: 613px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
}

.c_consult-list-frame005,
.c_consult-list-frame006 {
  width: 100%;
  overflow: hidden;
  max-width: 40px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_consult-list-frame006 {
  max-width: 46px;
}

.c_consult-list-frame007,
.c_consult-list-frame008,
.c_consult-list-frame009 {
  width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
}

.c_consult-list-frame007 {
  gap: 40px;
  padding: 75px 300px;
  overflow: hidden;
  max-width: 1920px;
  flex-direction: column;
  justify-content: flex-start;
}

.c_consult-list-frame008,
.c_consult-list-frame009 {
  max-width: 859px;
}

.c_consult-list-frame008 {
  gap: 15px;
  flex-direction: column;
  justify-content: flex-start;
}

.c_consult-list-frame009 {
  gap: 10px;
  padding: 10px 39px;
  overflow: hidden;
  border-radius: 50px 50px 50px 50px;
  justify-content: center;
  background-color: #ffd8e6;
}

.c_consult-list-text008 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text009 {
  color: #000;
  font-size: 40px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: uppercase;
}

.c_consult-list-frame010 {
  gap: 10px;
  width: 100%;
  display: flex;
  padding: 10px 28px;
  overflow: hidden;
  position: relative;
  max-width: 723px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 50px 50px 50px 50px;
  justify-content: center;
  background-color: #fff;
}

.c_consult-list-text010 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text011 {
  color: #b35667;
  font-size: 15px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: 15px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: uppercase;
}

.c_consult-list-frame011 {
  gap: 25px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1320px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.25);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}

.c_consult-list-frame012,
.c_consult-list-frame013 {
  gap: 20px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 871px;
  box-sizing: border-box;
}

.c_consult-list-frame012 {
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_consult-list-frame013 {
  padding: 19px 25px;
  align-items: center;
  border-radius: 15px 15px 15px 15px;
  justify-content: center;
  background-color: #fdfdfd;
}

.c_consult-list-frame014 {
  width: 100%;
  max-width: 163px;
  box-sizing: border-box;
}

.c_consult-list-rectangle1 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 163px;
  border-top: 2px solid #ffecf2;
  border-left: 2px solid #ffecf2;
  border-right: 2px solid #ffecf2;
  border-bottom: 2px solid #ffecf2;
  border-radius: 15px 15px 15px 15px;
}

.c_consult-list-frame015,
.c_consult-list-frame016 {
  gap: 14px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 432px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.c_consult-list-frame016 {
  gap: 10px;
  max-width: 266px;
}

.c_consult-list-text012 {
  width: 100%;
  max-width: 266px;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_consult-list-text013 {
  color: #000;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: uppercase;
}

.c_consult-list-text014 {
  width: 100%;
  max-width: 266px;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_consult-list-text015 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-text016 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_consult-list-text017 {
  color: #a6a6a6;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: uppercase;
}

.c_consult-list-frame017 {
  gap: 10px;
  width: 100%;
  display: flex;
  padding: 5px 10px;
  position: relative;
  max-width: 125px;
  box-sizing: border-box;
  align-items: flex-start;
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  background-color: #ffecf2;
}

.c_consult-list-text018 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_consult-list-text019 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-frame018,
.c_consult-list-frame019 {
  gap: 1px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 60px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.c_consult-list-frame019 {
  gap: 5px;
}

.c_consult-list-frame020 {
  width: 100%;
  overflow: hidden;
  max-width: 30px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_consult-list-text020 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_consult-list-text021 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-frame021,
.c_consult-list-instance04 {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 186px;
  box-sizing: border-box;
}

.c_consult-list-frame021 {
  gap: 14px;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}

.c_consult-list-instance04 {
  gap: 10px;
  padding: 10px 30px;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  background-color: #ffd8e6;
}

.c_consult-list-text022 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_consult-list-text023 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: uppercase;
}

.c_consult-list-frame022 {
  gap: 20px;
  width: 100%;
  display: flex;
  padding: 19px 25px;
  position: relative;
  max-width: 871px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 15px 15px 15px 15px;
  justify-content: center;
  background-color: #fdfdfd;
}

.c_consult-list-rectangle2 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 163px;
  border-top: 2px solid #ffecf2;
  border-left: 2px solid #ffecf2;
  border-right: 2px solid #ffecf2;
  border-bottom: 2px solid #ffecf2;
  border-radius: 15px 15px 15px 15px;
}

.c_consult-list-frame023,
.c_consult-list-frame024 {
  gap: 14px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 432px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.c_consult-list-frame024 {
  gap: 10px;
  max-width: 266px;
}

.c_consult-list-text024 {
  width: 100%;
  max-width: 266px;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_consult-list-text025 {
  color: #000;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: uppercase;
}

.c_consult-list-text026 {
  width: 100%;
  max-width: 266px;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_consult-list-text027 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-text028 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_consult-list-text029 {
  color: #a6a6a6;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: uppercase;
}

.c_consult-list-frame025 {
  gap: 10px;
  width: 100%;
  display: flex;
  padding: 5px 10px;
  position: relative;
  max-width: 125px;
  box-sizing: border-box;
  align-items: flex-start;
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  background-color: #ffecf2;
}

.c_consult-list-text030 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_consult-list-text031 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-frame026,
.c_consult-list-frame027 {
  gap: 1px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 59px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.c_consult-list-frame027 {
  gap: 5px;
}

.c_consult-list-frame028 {
  width: 100%;
  overflow: hidden;
  max-width: 30px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_consult-list-text032 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_consult-list-text033 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-frame029,
.c_consult-list-instance05 {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 186px;
  box-sizing: border-box;
}

.c_consult-list-frame029 {
  gap: 14px;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}

.c_consult-list-instance05 {
  gap: 10px;
  padding: 10px 30px;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  background-color: #ffd8e6;
}

.c_consult-list-text034 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_consult-list-text035 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: uppercase;
}

.c_consult-list-frame030 {
  gap: 20px;
  width: 100%;
  display: flex;
  padding: 19px 25px;
  position: relative;
  max-width: 871px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 15px 15px 15px 15px;
  justify-content: center;
  background-color: #fdfdfd;
}

.c_consult-list-rectangle3 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 163px;
  border-top: 2px solid #ffecf2;
  border-left: 2px solid #ffecf2;
  border-right: 2px solid #ffecf2;
  border-bottom: 2px solid #ffecf2;
  border-radius: 15px 15px 15px 15px;
}

.c_consult-list-frame031,
.c_consult-list-frame032 {
  gap: 14px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 432px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.c_consult-list-frame032 {
  gap: 10px;
  max-width: 266px;
}

.c_consult-list-text036 {
  width: 100%;
  max-width: 266px;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_consult-list-text037 {
  color: #000;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: uppercase;
}

.c_consult-list-text038 {
  width: 100%;
  max-width: 266px;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_consult-list-text039 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-text040 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_consult-list-text041 {
  color: #a6a6a6;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: uppercase;
}

.c_consult-list-frame033 {
  gap: 10px;
  width: 100%;
  display: flex;
  padding: 5px 10px;
  position: relative;
  max-width: 125px;
  box-sizing: border-box;
  align-items: flex-start;
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  background-color: #ffecf2;
}

.c_consult-list-text042 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_consult-list-text043 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-frame034,
.c_consult-list-frame035 {
  gap: 1px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 60px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.c_consult-list-frame035 {
  gap: 5px;
}

.c_consult-list-frame036 {
  width: 100%;
  overflow: hidden;
  max-width: 30px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_consult-list-text044 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_consult-list-text045 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-frame037,
.c_consult-list-instance06 {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 186px;
  box-sizing: border-box;
}

.c_consult-list-frame037 {
  gap: 14px;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}

.c_consult-list-instance06 {
  gap: 10px;
  padding: 10px 30px;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  background-color: #ffd8e6;
}

.c_consult-list-text046 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_consult-list-text047 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: uppercase;
}

.c_consult-list-frame038 {
  gap: 20px;
  width: 100%;
  display: flex;
  padding: 19px 25px;
  position: relative;
  max-width: 871px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 15px 15px 15px 15px;
  justify-content: center;
  background-color: #fdfdfd;
}

.c_consult-list-rectangle4 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 163px;
  border-top: 2px solid #ffecf2;
  border-left: 2px solid #ffecf2;
  border-right: 2px solid #ffecf2;
  border-bottom: 2px solid #ffecf2;
  border-radius: 15px 15px 15px 15px;
}

.c_consult-list-frame039,
.c_consult-list-frame040 {
  gap: 14px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 432px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.c_consult-list-frame040 {
  gap: 10px;
  max-width: 266px;
}

.c_consult-list-text048 {
  width: 100%;
  max-width: 266px;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_consult-list-text049 {
  color: #000;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: uppercase;
}

.c_consult-list-text050 {
  width: 100%;
  max-width: 266px;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_consult-list-text051 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-text052 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_consult-list-text053 {
  color: #a6a6a6;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: uppercase;
}

.c_consult-list-frame041 {
  gap: 10px;
  width: 100%;
  display: flex;
  padding: 5px 10px;
  position: relative;
  max-width: 112px;
  box-sizing: border-box;
  align-items: flex-start;
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  background-color: #ffecf2;
}

.c_consult-list-text054 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_consult-list-text055 {
  color: #000;
  font-size: 14px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-frame042,
.c_consult-list-frame043 {
  gap: 1px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 60px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.c_consult-list-frame043 {
  gap: 5px;
}

.c_consult-list-frame044 {
  width: 100%;
  overflow: hidden;
  max-width: 30px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_consult-list-text056 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_consult-list-text057 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-frame045,
.c_consult-list-instance07 {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 186px;
  box-sizing: border-box;
}

.c_consult-list-frame045 {
  gap: 14px;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}

.c_consult-list-instance07 {
  gap: 10px;
  padding: 10px 30px;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  background-color: #ffd8e6;
}

.c_consult-list-text058 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_consult-list-text059 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: uppercase;
}

.c_consult-list-frame046 {
  gap: 20px;
  width: 100%;
  display: flex;
  padding: 19px 25px;
  position: relative;
  max-width: 871px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 15px 15px 15px 15px;
  justify-content: center;
  background-color: #fdfdfd;
}

.c_consult-list-rectangle5 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 163px;
  border-top: 2px solid #ffecf2;
  border-left: 2px solid #ffecf2;
  border-right: 2px solid #ffecf2;
  border-bottom: 2px solid #ffecf2;
  border-radius: 15px 15px 15px 15px;
}

.c_consult-list-frame047,
.c_consult-list-frame048 {
  gap: 14px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 432px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.c_consult-list-frame048 {
  gap: 10px;
  max-width: 266px;
}

.c_consult-list-text060 {
  width: 100%;
  max-width: 266px;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_consult-list-text061 {
  color: #000;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: uppercase;
}

.c_consult-list-text062 {
  width: 100%;
  max-width: 266px;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_consult-list-text063 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-text064 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_consult-list-text065 {
  color: #a6a6a6;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: uppercase;
}

.c_consult-list-frame049 {
  gap: 10px;
  width: 100%;
  display: flex;
  padding: 5px 10px;
  position: relative;
  max-width: 245px;
  box-sizing: border-box;
  align-items: flex-start;
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  background-color: #ffecf2;
}

.c_consult-list-text066 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_consult-list-text067 {
  color: #000;
  font-size: 14px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-frame050,
.c_consult-list-frame051 {
  gap: 1px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 60px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.c_consult-list-frame051 {
  gap: 5px;
}

.c_consult-list-frame052 {
  width: 100%;
  overflow: hidden;
  max-width: 30px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_consult-list-text068 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_consult-list-text069 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-frame053,
.c_consult-list-instance08 {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 186px;
  box-sizing: border-box;
}

.c_consult-list-frame053 {
  gap: 14px;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}

.c_consult-list-instance08 {
  gap: 10px;
  padding: 10px 30px;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  background-color: #ffd8e6;
}

.c_consult-list-text070 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_consult-list-text071 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: uppercase;
}

.c_consult-list-frame054 {
  gap: 20px;
  width: 100%;
  display: flex;
  padding: 19px 25px;
  position: relative;
  max-width: 871px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 15px 15px 15px 15px;
  justify-content: center;
  background-color: #fdfdfd;
}

.c_consult-list-rectangle6 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 163px;
  border-top: 2px solid #ffecf2;
  border-left: 2px solid #ffecf2;
  border-right: 2px solid #ffecf2;
  border-bottom: 2px solid #ffecf2;
  border-radius: 15px 15px 15px 15px;
}

.c_consult-list-frame055,
.c_consult-list-frame056 {
  gap: 14px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 432px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.c_consult-list-frame056 {
  gap: 10px;
}

.c_consult-list-text072 {
  width: 100%;
  max-width: 100%;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_consult-list-text073 {
  color: #000;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: uppercase;
}

.c_consult-list-text074 {
  width: 100%;
  max-width: 266px;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_consult-list-text075 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-text076 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_consult-list-text077 {
  color: #a6a6a6;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: uppercase;
}

.c_consult-list-frame057 {
  gap: 10px;
  width: 100%;
  display: flex;
  padding: 5px 10px;
  position: relative;
  max-width: 125px;
  box-sizing: border-box;
  align-items: flex-start;
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  background-color: #ffecf2;
}

.c_consult-list-text078 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_consult-list-text079 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-frame058,
.c_consult-list-frame059 {
  gap: 1px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 60px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.c_consult-list-frame059 {
  gap: 5px;
}

.c_consult-list-frame060 {
  width: 100%;
  overflow: hidden;
  max-width: 30px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_consult-list-text080 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_consult-list-text081 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-frame061,
.c_consult-list-instance09 {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 186px;
  box-sizing: border-box;
}

.c_consult-list-frame061 {
  gap: 14px;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}

.c_consult-list-instance09 {
  gap: 10px;
  padding: 10px 30px;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  background-color: #ffd8e6;
}

.c_consult-list-text082 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_consult-list-text083 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: uppercase;
}

.c_consult-list-frame062 {
  gap: 20px;
  width: 100%;
  display: flex;
  padding: 26px 20px;
  overflow: hidden;
  position: relative;
  max-width: 424px;
  box-sizing: border-box;
  align-items: flex-start;
  border-radius: 25px 25px 25px 25px;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}

.c_consult-list-text084 {
  width: 100%;
  max-width: 100%;
  margin-top: 0;
  min-height: 51px;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text085 {
  color: #000;
  font-size: 28px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: uppercase;
}

.c_consult-list-frame063 {
  gap: 10px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 384px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.c_consult-list-text086 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text087 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-frame064,
.c_consult-list-frame065 {
  gap: 5px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 382px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.c_consult-list-frame065 {
  gap: 10px;
  padding: 10px 5px;
  overflow: hidden;
  max-width: 73px;
  align-items: flex-start;
  border-radius: 10px 10px 10px 10px;
  flex-direction: column;
  background-color: #e9a2b0;
}

.c_consult-list-text088 {
  width: 100%;
  max-width: 100%;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text089 {
  color: #000;
  font-size: 12px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-instance10 {
  gap: 10px;
  width: 100%;
  display: flex;
  padding: 10px 5px;
  overflow: hidden;
  position: relative;
  max-width: 56px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  background-color: #eee;
}

.c_consult-list-text090 {
  width: 100%;
  max-width: 100%;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text091,
.c_consult-list-text092 {
  color: #000;
  font-size: 12px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "B612",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-instance11 {
  gap: 10px;
  width: 100%;
  display: flex;
  padding: 10px 5px;
  overflow: hidden;
  position: relative;
  max-width: 56px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  background-color: #eee;
}

.c_consult-list-text093 {
  width: 100%;
  max-width: 100%;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text094,
.c_consult-list-text095 {
  color: #000;
  font-size: 12px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "B612",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-instance12 {
  gap: 10px;
  width: 100%;
  display: flex;
  padding: 10px 5px;
  overflow: hidden;
  position: relative;
  max-width: 56px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  background-color: #eee;
}

.c_consult-list-text096 {
  width: 100%;
  max-width: 100%;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text097,
.c_consult-list-text098 {
  color: #000;
  font-size: 12px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "B612",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-instance13 {
  gap: 10px;
  width: 100%;
  display: flex;
  padding: 10px 5px;
  overflow: hidden;
  position: relative;
  max-width: 56px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  background-color: #eee;
}

.c_consult-list-text099 {
  width: 100%;
  max-width: 100%;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text100,
.c_consult-list-text101 {
  color: #000;
  font-size: 12px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "B612",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-instance14 {
  gap: 10px;
  width: 100%;
  display: flex;
  padding: 10px 5px;
  overflow: hidden;
  position: relative;
  max-width: 56px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  background-color: #eee;
}

.c_consult-list-text102 {
  width: 100%;
  max-width: 100%;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text103,
.c_consult-list-text104 {
  color: #000;
  font-size: 12px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "B612",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-frame066 {
  gap: 14px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 311px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_consult-list-text105 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text106 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-frame067,
.c_consult-list-frame068 {
  gap: 20px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 311px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}

.c_consult-list-frame068 {
  gap: 10px;
  padding: 10px 16px;
  max-width: 87px;
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  background-color: #f8f5f5;
}

.c_consult-list-text107 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text108 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-frame069 {
  gap: 10px;
  width: 100%;
  display: flex;
  padding: 10px 16px;
  position: relative;
  max-width: 84px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  background-color: #f8f5f5;
}

.c_consult-list-text109 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text110 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-frame070 {
  gap: 14px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 384px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_consult-list-text111 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text112 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-frame071,
.c_consult-list-frame072 {
  gap: 20px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 384px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}

.c_consult-list-frame072 {
  gap: 10px;
  padding: 10px 16px;
  max-width: 115px;
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  background-color: #f8f5f5;
}

.c_consult-list-text113 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text114 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-frame073 {
  gap: 10px;
  width: 100%;
  display: flex;
  padding: 10px 16px;
  position: relative;
  max-width: 115px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  background-color: #f8f5f5;
}

.c_consult-list-text115 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text116 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-frame074 {
  gap: 10px;
  width: 100%;
  display: flex;
  padding: 10px 16px;
  position: relative;
  max-width: 115px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  background-color: #f8f5f5;
}

.c_consult-list-text117 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text118 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-frame075 {
  gap: 14px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 384px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_consult-list-text119 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text120 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-frame076,
.c_consult-list-frame077 {
  gap: 20px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 311px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}

.c_consult-list-frame077 {
  gap: 10px;
  padding: 10px 16px;
  max-width: 138px;
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  background-color: #f8f5f5;
}

.c_consult-list-text121 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text122 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-frame078 {
  gap: 10px;
  width: 100%;
  display: flex;
  padding: 10px 16px;
  position: relative;
  max-width: 138px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  background-color: #f8f5f5;
}

.c_consult-list-text123 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text124 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-frame079 {
  gap: 14px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 384px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_consult-list-text125 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text126 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-frame080,
.c_consult-list-frame081 {
  width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
}

.c_consult-list-frame080 {
  gap: 13px;
  flex-wrap: wrap;
  max-width: 384px;
  justify-content: flex-start;
}

.c_consult-list-frame081 {
  gap: 5px;
  padding: 10px 16px;
  max-width: 66px;
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  background-color: #f8f5f5;
}

.c_consult-list-frame082 {
  width: 100%;
  overflow: hidden;
  max-width: 25px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_consult-list-text127 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text128 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-frame083 {
  gap: 5px;
  width: 100%;
  display: flex;
  padding: 10px 16px;
  position: relative;
  max-width: 66px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  background-color: #f8f5f5;
}

.c_consult-list-frame084 {
  width: 100%;
  overflow: hidden;
  max-width: 25px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_consult-list-text129 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text130 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-frame085 {
  gap: 5px;
  width: 100%;
  display: flex;
  padding: 10px 16px;
  position: relative;
  max-width: 66px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  background-color: #f8f5f5;
}

.c_consult-list-frame086 {
  width: 100%;
  overflow: hidden;
  max-width: 25px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_consult-list-text131 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text132 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-frame087 {
  gap: 5px;
  width: 100%;
  display: flex;
  padding: 10px 16px;
  position: relative;
  max-width: 66px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  background-color: #f8f5f5;
}

.c_consult-list-frame088 {
  width: 100%;
  overflow: hidden;
  max-width: 25px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_consult-list-text133 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text134 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-frame089 {
  gap: 5px;
  width: 100%;
  display: flex;
  padding: 10px 16px;
  position: relative;
  max-width: 66px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  background-color: #f8f5f5;
}

.c_consult-list-frame090 {
  width: 100%;
  overflow: hidden;
  max-width: 25px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_consult-list-text135 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text136 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-frame091,
.c_consult-list-frame092 {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1920px;
  box-sizing: border-box;
}

.c_consult-list-frame091 {
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #e9a2b0;
}

.c_consult-list-frame092 {
  align-items: center;
  justify-content: space-between;
}

.c_consult-list-frame093,
.c_consult-list-frame094 {
  gap: 10px;
  width: 100%;
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.c_consult-list-frame093 {
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_consult-list-frame094 {
  max-width: 620px;
  align-items: center;
  justify-content: center;
}

.c_consult-list-line,
.c_consult-list-rectangle7 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 484.9267578125px;
}

.c_consult-list-line {
  max-width: 1px;
  transform: rotate(90deg);
  max-height: 369px;
}

.c_consult-list-frame095 {
  gap: 21px;
  width: 100%;
  display: flex;
  padding: 50px 100px;
  overflow: hidden;
  position: relative;
  max-width: 640px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.c_consult-list-text137 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text138 {
  color: #000;
  font-size: 28px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-text139 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text140 {
  color: #000;
  font-size: 28px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-text141 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text142 {
  color: #000;
  font-size: 28px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-text143 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text144 {
  color: #000;
  font-size: 28px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-text145 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text146 {
  color: #000;
  font-size: 28px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-text147 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text148 {
  color: #000;
  font-size: 28px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-text149 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text150 {
  color: #000;
  font-size: 28px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-line1 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 1px;
  transform: rotate(90deg);
  max-height: 369px;
}

.c_consult-list-frame096,
.c_consult-list-frame097 {
  gap: 10px;
  width: 100%;
  display: flex;
  padding: 178px 10px;
  overflow: hidden;
  position: relative;
  max-width: 640px;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.c_consult-list-frame097 {
  padding: 10px;
  max-width: 620px;
}

.c_consult-list-text151 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text152 {
  color: #000;
  font-size: 28px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_consult-list-frame098 {
  gap: 45px;
  width: 100%;
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: relative;
  max-width: 620px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.c_consult-list-frame099,
.c_consult-list-frame100,
.c_consult-list-frame101,
.c_consult-list-frame102 {
  width: 100%;
  overflow: hidden;
  max-width: 75px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_consult-list-frame103 {
  width: 100%;
  display: flex;
  padding: 30px 0;
  position: relative;
  max-width: 1920px;
  border-top: 1px solid #ffecf2;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}

.c_consult-list-text153 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}

.c_consult-list-text154 {
  color: #000;
  font-size: 28px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "SF Pro Text",sans-serif;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}