/* Homepage */
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#main-nav{
    background-color: #E9A2B0;
}

#home{
    background-image: url("./img/hero.png");
    background-color: #E9A2B0;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background-color: #fff;
    box-shadow: 0 1px 3px #E9A2B0, 0 1px 2px #E9A2B0;
}

#badge1{
  background-color: #e1e1e1;
  font-size: 20px; 
  font-weight: bold;
  color: #b35667;
  margin: auto;
} 

#badge2{
  background-color: #FFD8E6; 
  font-size: 30px;
  font-weight: bold;
}

.section-consul {
  background-color: #BD939A;
  background-position: top;
  background-repeat: no-repeat;
  background-size:cover;
}

/* Atur lebar container */
.container {
  max-width: 960px;
}

/* Atur margin atas dan bawah */
.content {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Atur gaya judul */
.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

/* Atur gaya gambar */
.img-container {
  text-align: center;
}

.img-thumbnail {
  border: 1px solid #ddd;
  padding: 4px;
  border-radius: 4px;
  max-width: 100%;
}

/* Atur gaya deskripsi */
.description {
  font-size: 16px;
  text-align: center;
}

/* Atur gaya daftar dokter */
.list-doctor {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-doctor li {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.list-doctor li:last-child {
  border-bottom: none;
}

/* Atur gaya nama dokter */
.doctor-name {
  font-size: 18px;
  font-weight: bold;
}

/* Atur gaya STR */
.doctor-str {
  font-size: 14px;
  color: #999;
}

#card-rounded{
  border-radius: 24px;
}

#card-rounded2{
  border-radius: 48px;
}



.footer {
  background-color: #E9A2B0;
  padding: 20px 0;
  font-style: bold;
}

/* login page */

/* .bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
  }
  
  @media (min-width: 1025px) {
  .h-custom-2 {
  height: 100%;
  }
  } */